<manifest 
  xmlns:android="http://schemas.android.com/apk/res/android" package="mingsin.fzxing">
  <uses-permission android:name="android.permission.CAMERA" />
  <application>
    <activity android:name=".CaptureActivity"
        android:theme="@android:style/Theme.NoTitleBar"
        android:windowSoftInputMode="adjustResize"/>
    <activity android:name=".ShipmentCaptureActivity"
        android:theme="@android:style/Theme.NoTitleBar"
        android:windowSoftInputMode="adjustResize"/>
  </application>
</manifest>